@page "/registration"
@inject FrontApiClient httpClient
@using Space.Forms.Registration
@using MudBlazor
@using Space.HttpClients;

<h3 style="text-align:center">Registration Form</h3>
<hr style="border: 1px solid #ddd;" />
<MudForm style="text-align:center">
    <label>Email</label>
    <MudTextField @bind-Value="userRegistrationForm.Email"/>
    <label>Password</label>
    <MudTextField @bind-Value="userRegistrationForm.Password" Type="InputType.Password" />
    <div style="text-align:center;margin-top:20px;">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="RegisterAsync">
            Register
        </MudButton>
    </div>
</MudForm>