@page "/registration"
@inject FrontApiClient httpClient
@using Space.Forms.Registration 
@using MudBlazor
@using Space.HttpClients;



<h3>Registration</h3>
<MudForm>
    <MudTextField @bind-Value="userRegistrationForm.Email" Label="Email" InputType="InputType.Email"/>
<MudTextField @bind-Value="userRegistrationForm.Password" Label="Password" InputType="InputType.Password" />

    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="RegisterAsync">
        Register
    </MudButton>
</MudForm>