@page "/registration"
@inject HttpClient httpClient
@using Space.Forms.Registration 
@using MudBlazor



<h3>Registration</h3>
<MudForm>
    <MudTextField @bind-Value="userRegistrationForm.Email" Label="Email" />
<MudTextField @bind-Value="userRegistrationForm.Password" Label="Password" Type="InputType.Password" />

    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="RegisterAsync">
        Register
    </MudButton>
</MudForm>